body{
  font-family: helvetica;
  text-align: center;
}
p{
  color:blue;
  font-size: 18px;
}
h1{
font-size: 70px;
font-weight: bold;
}
.highlight{
font-size: 32px;
font-weight: bold;
}
.info{
  color:gray;
  font-size:14px;
}
.NY{
  font-size:23px;
  font-weight: bold;
  }
.nav{
  text-align: left;
  color:black;
}
