body{
  font-family: helvetica;
  text-align: center;
}
p,span{
  color:white;
  font-size: 18px;
  text-decoration: none;
}
h1{
font-size: 70px;
font-weight: bold;
color:white;
}
div{
  background-image: url("../images/background.png");
}
.highlight{
font-size: 32px;
font-weight: bold;
}
.info{
  color:gray;
  font-size:14px;
}
.NY{
  font-size:23px;
  font-weight: bold;
  }
.nav{
  text-align: left;
  color:white;
  background-color: dimgray;
  font-size:11px;
}
img{
  height:50px;
  width:80px;
}
